@font-face {
  font-family: 'Intro';
  src: url('../fonts/Intro.woff') format('woff');
}
@font-face {
  font-family: 'CollegiateBlackFLF';
  src: url('../fonts/CollegiateBlackFLF.woff') format('woff');
}
@font-face {
  font-family: 'helveticalight';
  src: url('../fonts/helveticalight.woff') format('woff');
}
@font-face {
  font-family: 'helveticacondensed';
  src: url('../fonts/helveticacondensed.woff') format('woff');
}
body
{
	background-color: #071A38;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p
{
	margin: 0;
	padding: 0;
}
p
{
	color: #fff;
	font-family: Helvetica Neue Light;
	font-size: 17px;
}
h2,
a h2
{
	color: #f0d7af;
	font-family: CollegiateBlackFLF;
	font-size: 32px;
}
h3,
a h3
{
	color: #fff;
	font-family: Intro;
	font-size: 15px;
}
h2 strong,
a strong h2
{
	color: #C52027;
	font-family: Intro;
	font-size: 33px;
	line-height: 39.6px;
}
h3:hover,
a h3:hover
{
	color: #1b3862;
}
p
{
	color: #fff;
	font-family: Helvetica Neue Light;
	font-size: 17px;
}
.headerPrincipal
{
	background-color: #C52027;
	height: 125px;
	margin: 0 auto;
	width: 1092px;
}
.contieneTodo
{
	background-color: #EDE8E2;
	height: inherit;
	margin: 0 auto;
	width: 1092px;
}
.contieneTodoFondo
{
	background-color: #EDE8E2;
	float: left;
	height: auto;
	width: 1092px;
}
.primerCuadro
{
	float: left;
	height: 365px;
	margin: 15px 0px 0px 20px;
	width: 728px;
}
.boxBanner
{
	float: left;
	height: 250px;
	margin: 15px 0px 0px 24px;
	width: 300px;
}
.miniBanner
{
	float: left;
	height: 100px;
	margin: 15px 0px 0px 24px;
	width: 300px;
}
.radioPimienta
{
	background-color:  #071A38;
	float: left;
	height: 40px;
	margin: 15px 0px 0px 20px;
	width: 1052px;
}
.lineUp
{
	background-color:  #071A38;
	float: left;
	height: 510px;
	margin: 15px 0px 0px 20px;
	width: 405px;
}
.contieneMasRecientes
{
	float: left;
	height: 510px;
	margin: 15px 0px 0px 23px;
	width: 624px;
}
.pimientaTv
{
	background-color: #C52027;
	float: left;
	height: 420px;
	margin: 15px 0px 0px 20px;
	width: 1052px;
}
.superBanner
{
	float: left;
	height: 90px;
	margin: 15px 0px 0px 20px;
	width: 728px;
}
.estadisticas
{
	background-color: #071A38;
	float: left;
	height: 325px;
	margin: 15px 0px 0px 20px;
	width: 728px;
}
.comoHoy
{
	float: right;
	height: 430px;
	margin: 15px 0px 0px 24px;
	width: 300px;
}
.imagenDia
{
	float: left;
	height: 355px;
	margin: 15px 0px 0px 20px;
	width: 705px;
}
.fraseFamosa
{
	background-color: #fff;
	float: left;
	height: 355px;
	margin: 15px 0px 0px 24px;
	width: 325px;
}
.footerPrincipal
{
	background-color: #071A38;
	float: left;
	width: 1092px;
}